.modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h2{
    margin-bottom: 25px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    width: 100%;
    max-width: 410px;
    height: 100vh;
    padding: 25px clamp(16px, 3.5vw, 35px);

    .bottom {
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 15px;
      }
    }
  }
}
