:root{
    --font-primary: "Poppins", sans-serif;

    --color-black: #000000;
    --color-black2:#1e1e1e;
    --color-black15: #00000026;
    --color-white: #FFFFFF;
    --color-lightyellow: #FDF6F2;    
}