.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    width: 100%;
    max-width: 720px;

    padding: 80px clamp(16px, 4.5vw, 60px);
  }

  .box{
    display: flex;
    align-items: center;
    gap: 20px 55px;

    img{
        width: 50%;
    }

    & > div{
        width: 50%;

        p{
            margin-top: 12px;
            margin-bottom: 25px;
        }
    }   

    @media (max-width: 550px){
      flex-direction: column;

      img, & > div{
        width: 100%;
      }
    }
  }
}
