.box{
    padding: 16px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    .top{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .bottom{
        display: flex;
        align-items: center;
        gap: 12px;
    }
}